/* main app */
.app-main {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;

}



.app-navi {
  width: 100%;
}

.app-body {
  display: flex;
  margin: 50px;
}

.app-footer {
  display: flex;
  margin-top: 20px;

}

/* picture gallary  */

.pictureGallary{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.picture {
  width: 200px;
  height: 200px;
  margin: 5px;
}
.picture > img {
  width: 100%;
}

/* AboutUs */

.aboutUsContainer {
  margin-left: 100px;
}
.logoContainer{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.logoPicture {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ownerSection {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.companyInfo{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* services section  */

.services{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.service {
  width: 250px;
  height: 250px;
  margin: 5px;
}
.service > img {
  width: 100%;
}