.app-main {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

}

.app-navi {
  width: 100%;
}

.app-body {
  display: flex;
  margin: 50px;
}

.app-footer {
  display: flex;
}






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
