.app-main {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

}

img {
  width: 100%;
}

.app-navi {
  width: 100%;
}

.app-body {
  display: flex;
  margin: 50px;
}

.app-footer {
  display: flex;
  margin-top: 20px;

}


.pictureGallary{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.picture {
  width: 200px;
  height: 200px;
  margin: 5px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
